<!-- Begin page content -->
<div class="container page-content">
  <div class="row">
    <div class="col-md-10 col-md-offset-3">
      <div class="row">
        <centered-project></centered-project>
      </div>
    </div>
  </div>
</div>
