<!-- CHANGE PASS TAB CONTENT -->
<div class="tab-pane settings" id="settings-tab">
  <form class="form-horizontal" role="form">
    <fieldset>
      <h3><i class="fa fa-square"></i> Change Password</h3>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="form-group">
          <label for="old-password" class="col-sm-3 control-label">Old Password</label>
          <div class="col-sm-4">
            <input type="password" id="old-password" name="old-password" class="form-control" [formControl]="currentPw" required>
            <span *ngIf="!currentPw.valid && currentPw.touched" class="help-block sub-little-text">Current password is at least 6 characters long.</span>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label for="password1" class="col-sm-3 control-label">New Password</label>
          <div class="col-sm-4">
            <input type="password" id="password1" name="password" class="form-control" [formControl]="newPw" required>
          </div>
        </div>
        <div class="form-group">
          <label for="password2" class="col-sm-3 control-label">Repeat Password</label>
          <div class="col-sm-4">
            <input type="password" id="password2" name="password2" class="form-control" [formControl]="newPw2" required>
            <span *ngIf="!passwords.valid && (newPw.touched || newPw2.touched)" class="help-block sub-little-text">Passwords don't match or they are shorter than 6 characters.</span>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-azure" type="Submit" [disabled]="!form.valid">Change password</button>
        </div>
      </form>
    </fieldset>
  </form>
</div>
<!-- END CHANGE PASS TAB CONTENT -->
