.wrapper {
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  background-color: white;
}

.navbar-transparent {
  padding-top: 15px;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

.parallax {
  width: 100%;
  height: 900px;
  overflow: hidden;
  display: block;
}

.parallax .small-info {
  top: 20%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.parallax .small-info h3 {
  max-width: 790px;
  margin: 0 auto;
  line-height: 1.4;
}

.parallax .parallax-image {
  background: url(../../img/bg.png);
  height: 100%;
}

.parallax .parallax-image img {
  width: 100%;
  position: relative;
}

.filter-black {
  position: relative;
}

.filter-black:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.46);
  content: "";
}

.card {
  position: relative;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
}

.card, .list-group {
  margin-bottom: 1.25rem;
}

.card {
  box-shadow: 0 2px 3px rgba(0,0,0,.05);
}

@media (min-width: 544px) {
  .card-group .card {
    display: table-cell;
    vertical-align: top;
  }
  .card-group .card+.card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group .card:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .card-group .card:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .card-group {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}

@media all and (max-width: 544px) {
  .parallax {
    height: 750px !important;
  }
}

.card-group {
  margin-bottom: 1.25rem;
}

.card>.card-block>:last-child, .card>:last-child {
  margin-bottom: 0!important;
}

.card-block {
  padding: 1.25rem;
}

.center {
  text-align: center;
}
.m-a-2 {
  margin: 1.5rem!important;
}

.welcome-title {
  background: #fff;
  font-size: 60px;
  margin-top: 30px;
  font-weight: bold;
  color: #2dc3e8;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
  text-shadow: 4px 3px 0 #fff,9px 8px 0 rgba(0,0,0,0.15);
}
