<div class="wrapper">
  <div class="parallax filter-black">
    <div class="parallax-image"></div>
    <div class="small-info">
      <div class="col-sm-10 col-sm-push-1 col-md-6 col-md-push-3 col-lg-6 col-lg-push-3">
        <div class="card-group animated flipInX">
          <div class="card">
            <div class="card-block">
              <div class="center">
                <h4 class="m-b-0"><span class="icon-text">Login</span></h4>
                <p class="text-muted">Access your account</p>
              </div>
              <form [formGroup]="form" (ngSubmit)="onSubmitLogin(form.value)">
                <div class="form-group">
                  <input type="text" [formControl]="username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="password" [formControl]="password" class="form-control" placeholder="Password">
                  <div class="clearfix"></div>
                </div>
                <div class="center">
                  <button [disabled]="!form.valid" type="submit" class="btn  btn-azure">
                    Login
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="card">
            <div class="card-block center">
              <h4 class="m-b-0">
                <span class="icon-text">Sign Up</span>
              </h4>
              <p class="text-muted">Create a new account</p>
              <form [formGroup]="formRegister" (ngSubmit)="onSubmitRegistration(formRegister.value)">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="First Name" [formControl]="firstNameReg" required>
                  <span *ngIf="!firstNameReg.valid && firstNameReg.touched" class="help-block sub-little-text">First name must be between 2 and 15 characters.</span>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Last Name" [formControl]="lastNameReg" required>
                  <span *ngIf="!lastNameReg.valid && lastNameReg.touched" class="help-block sub-little-text">Last name must be between 2 and 15 characters.</span>

                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Username" [formControl]="usernameReg" required>
                  <span *ngIf="!usernameReg.valid && usernameReg.touched" class="help-block sub-little-text">Username must be between 4 and 15 characters.</span>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email" [formControl]="emailReg" required>
                  <span *ngIf="!emailReg.valid && emailReg.touched" class="help-block sub-little-text">E-mail address is not valid.</span>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" [formControl]="passwordReg" required>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Confirm Password" [formControl]="password2Reg" required>
                  <span *ngIf="!passwords.valid && (passwordReg.touched || password2Reg.touched)" class="help-block sub-little-text">Passwords don't match or they are shorter than 6 characters.</span>
                </div>
                <button type="submit" [disabled]="!formRegister.valid" class="btn btn-azure">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<footer class="footer">-->
    <!--<div class="container">-->
      <!--<p class="text-muted"> Copyright &copy; Company - All rights reserved </p>-->
    <!--</div>-->
  <!--</footer>-->
  <!--<script type="text/javascript">-->
    <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
        <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
      <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
    <!--})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

    <!--ga('create', 'UA-49755460-1', 'auto', {'allowLinker': true});-->
    <!--ga('require', 'linker');-->
    <!--ga('linker:autoLink', ['bootdey.com','www.bootdey.com','demos.bootdey.com'] );-->
    <!--ga('send', 'pageview');-->
  <!--</script>-->
</div>
