<div class="container page-content">
  <div class="row">
    <left-side-profile></left-side-profile>
    <centered-projects></centered-projects>
    <right-side-people *ngIf="isLoggedIn()"></right-side-people>
  </div>
</div>
