<!-- Begin page content -->
<div class="row page-content">
  <div class="col-md-8 col-md-offset-2">
    <cover></cover>
    <div class="row">
      <div class="col-md-5">
        <div class="widget">
            <about style="padding: 5px"></about>
            <about-me></about-me>
        </div>
      </div>
      <timeline-projects></timeline-projects>
    </div>
  </div>
</div><!-- End page content -->
