<!-- Fixed navbar -->
<nav class="navbar navbar-white navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/"><b>DailyProjects</b></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isLoggedIn()" class="actives"><a routerLink="/auth">Login/Register</a></li>
        <li class="actives"><a routerLink="/">Home</a></li>
        <li class="actives" *ngIf="isLoggedIn()"><a routerLink="/profile">Profile</a></li>
        <li class="actives" *ngIf="isLoggedIn()"><a routerLink="/addProject">Add project</a></li>
        <li class="dropdown" *ngIf="isLoggedIn()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="actives"><a routerLink="/editProfile">Account settings</a></li>
            <li class="actives"><a (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
