<!--============= timeline posts-->
  <div class="col-md-7">
    <div class="row">
      <!-- left posts-->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <!-- post state form -->
            <div class="box profile-info n-border-top" *ngIf="userId === localUser">
              <div class="box-footer box-form">
                <div class="notLoggedInWrapper">
                  <span>Got an idea today? Share it!</span>
                  <a class="btn btn-azure pull-right" routerLink="/addProject">Create a new project!</a>
                  <div style="clear: both"></div>
                </div>
              </div>
            </div><!-- end post state form -->

            <div class="box profile-info n-border-top" *ngIf="projects.length===0">
              <div class="box-footer box-form">
              <div class="notLoggedInWrapper">
                <span style="display: table; margin: auto; float: none">{{user.username}} does not have any projects yet!</span>
                <div style="clear: both"></div>
              </div>
              </div>
            </div>

            <!--   posts -->
            <div *ngFor="let project of projects" class="box box-widget" #single>
              <div class="box-header with-border">
                <div class="user-block">
                  <img class="img-circle" src="{{host}}{{avatar}}" alt="User Image">
                  <span class="pull-right" *ngIf="isOwner(project.user)">
                    <a [routerLink]="['/editProject', project._id]"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 20px;"></i></a>
                    <i class="fa fa-times" aria-hidden="true"
                       style="color:#ff3333;font-size: 23px;margin-right: 5px;"
                       (click)="deleteProject(project._id, single)"></i>
                  </span>
                  <span class="username"><a [routerLink]="['/project', project._id]">{{project.title}}</a></span>
                  <span class="description">{{project.createdTime | amTimeAgo }}</span>
                  <span class="description" *ngIf="project.link">
                    Project URL: <a href="{{project.link}}" target="_blank">{{project.link}}</a>
                  </span>
                </div>
              </div>

              <div class="box-body" style="display: block;">
                <a [routerLink]="['/project', project._id]">
                  <img class="img-responsive show-in-modal" src="{{host}}{{project.imageUrl}}" alt="Photo" width="1000px">
                </a>
                <hr />
                <h4 style="color: #696969" [innerHTML]="project.content"></h4>
              </div>
              <div class="box-footer box-comments" style="display: block;">
                <div *ngFor="let comment of project.comments" class="box-comment" #pro>
                  <img class="img-circle img-sm" src="{{host}}{{comment.user.avatar}}" alt="User Image">
                  <div class="comment-text">
                          <span class="username">
                          {{comment.user.username}}
                          <span class="text-muted pull-right">{{comment.createdTime | amTimeAgo}}</span>
                          </span>
                    {{comment.content}}
                    <span *ngIf="canDeleteComment(comment.user._id)"
                          class="fa fa-close pull-right" (click)="deleteComment(project._id, comment._id, pro)"></span>
                  </div>
                </div>
              </div>
              <div class="box-footer" style="display: block;">
                <form [formGroup]="formComment" (ngSubmit)="onSubmit(project._id,formComment.value)" *ngIf="isLoggedIn()">
                  <img class="img-responsive img-circle img-sm" src="{{host}}{{avatar}}" alt="Alt Text">
                  <div class="img-push">
                    <input type="text" class="form-control input-sm" placeholder="Press enter to post comment" [formControl]="comment">
                  </div>
                </form>
              </div>
            </div><!--  end posts-->
          </div>
        </div>
      </div><!-- end left posts-->
    </div>
  </div>
<!-- end timeline posts-->
