<!-- left links -->
<div class="col-md-3" *ngIf="isLoggedIn()">
  <div class="profile-nav">
    <div class="widget">
      <div class="widget-body">
        <div class="user-heading round">
            <a routerLink="/profile"><img src="{{avatar}}" alt="avatar"></a>
          <h1>{{fullName}}</h1>
          <p>@{{username}}</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a routerLink="/"> <i class="fa fa-home"></i> Projects feed</a></li>
          <li>
            <a routerLink="/profile"><i class="fa fa-user"></i> My profile</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3" *ngIf="!isLoggedIn()">
  <div class="profile-nav">
    <div class="widget">
      <div class="widget-body">
        <div class="user-heading round">
          <h4>New to DailyProjects? <br>
            Sign in and create your first project!</h4>
          <a routerLink="/auth" style="border:0"><button type="button" class="btn btn-default btn-lg shiny">SIGN IN</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end left links -->
