<!-- People You May Know -->
<div class="widget">
  <div class="widget-header">
    <h3 class="widget-caption">People You May Know</h3>
  </div>
  <div class="widget-body bordered-top bordered-sky">
    <div class="card">
      <div class="content">
        <ul class="list-unstyled team-members">
          <li *ngFor="let user of users">
            <div class="row">
              <div class="col-xs-3">
                <div class="avatar">
                  <a [routerLink]="['/profile', user._id]"><img src="http://localhost:3002/{{user.avatar}}" alt="User avatar"
                       class="img-circle img-no-padding img-responsive"></a>
                </div>
              </div>
              <div class="col-xs-6">
                <a [routerLink]="['/profile', user._id]">{{user.firstName}} {{user.lastName}}</a>
              </div>

              <div class="col-xs-3 text-right">
                <a class="btn btn-azure btn-icon btn-xs" [routerLink]="['/profile', user._id]">
                  <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div><!-- End people yout may know -->
