<div class="container page-content">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <h1>Edit project - {{project.title}}</h1>
        <hr style="border-color: #2dc3e8;" />
        <div class="form-group">
          <label for="title">Project title<span style="color:red;"> *</span></label>
          <input type="text" class="form-control input-lg" id="title" [(ngModel)]="project.title" [formControl]="title" placeholder="Enter your project title here.." required>
          <span *ngIf="!title.valid && title.touched" class="help-block sub-little-text">Title must contain between 10 and 100 characters.</span>
        </div>
        <div class="form-group">
          <label for="content">Project content<span style="color:red;"> *</span></label>
          <textarea class="form-control input-lg" [froalaEditor]="{height: 300}" [(ngModel)]="project.content" id="content" [formControl]="content" rows="10" required></textarea>
        </div>
        <div class="form-group">
          <label for="url">Project Url</label>
          <input type="text" class="form-control input-lg" id="url" [(ngModel)]="project.link" [formControl]="link" placeholder="Enter your project URL here.." aria-describedby="urlHelp">
          <small id="urlHelp" class="form-text text-muted">This field is not required.</small>
          <span *ngIf="!link.valid && link.touched" class="help-block sub-little-text">Link is not valid.</span>
        </div>
        <div class="form-group">
          <label for="image">Project image</label>
          <br />
          <img src="{{host}}{{project.imageUrl}}" alt="projectimg" width="200px"/>
          <br />
          <span class="file-input btn btn-azure btn-file" id="image" aria-describedby="fileHelp">
            Browse <input type="file" accept=".jpg, .png, .gif, .jpeg, .JPG" id="projectImg" (change)="onImageSelect($event)">
          </span>
          <br />
          <small id="fileHelp" class="form-text text-muted">This field is not required.</small>
          <div class="form-group">
            <button type="submit" class="btn btn-azure btn-lg" style="margin-top:10px;padding: 9px 27px;" [disabled]="!form.valid">Edit project</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
