<!-- center posts -->
<div class="col-md-6">
  <div class="row">
    <!-- left posts-->
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <!-- post state form -->
          <div class="box profile-info n-border-top">
            <div class="box-footer box-form">
              <div class="notLoggedInWrapper">
                <span>Got an idea today? Share it!</span>
                <a routerLink="/addProject"><button type="button" class="btn btn-azure pull-right">Create a new project!</button></a>
                <div style="clear: both"></div>
              </div>
            </div>
          </div><!-- end post state form -->

          <!--   posts -->
          <div *ngFor="let project of projects" class="box box-widget {{project._id}}" #single>
            <div class="box-header with-border">
              <div class="user-block">
                <img class="img-circle" src="{{host}}{{project.user.avatar}}" alt="User Image">
                <span class="pull-right" *ngIf="isOwner(project.user._id)">
                  <a [routerLink]="['/editProject', project._id]"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 20px;"></i></a>
                  <i class="fa fa-times" aria-hidden="true"
                     style="color:#ff3333;font-size: 23px;margin-right: 5px;"
                     (click)="deleteProject(project._id, single)"></i>
                </span>
                <span class="username"><a [routerLink]="['/project', project._id]">{{project.title}}</a></span>
                <span class="description">Created by <a [routerLink]="['/profile', project.user._id]">{{project.user.username}}</a>,
                  {{project.createdTime | amTimeAgo}}</span>
                <span class="description" *ngIf="project.link">
                  Project URL: <a href="{{project.link}}" target="_blank">{{project.link}}</a>
                </span>
              </div>
            </div>

            <div class="box-body" style="display: block;">
              <a [routerLink]="['/project', project._id]"><img class="img-responsive show-in-modal" src="{{host}}{{project.imageUrl}}"
                                                               alt="Photo" width="1000px"></a>
              <hr />
              <h4 style="color: #696969" [innerHTML]="project.content"></h4>
            </div>
            <div *ngFor="let comment of project.comments" class="box-footer box-comments" style="display: block;" #pro>
              <div class="box-comment">
                <img class="img-circle img-sm" src="{{host}}{{comment.user.avatar}}" alt="User Image">
                <div class="comment-text">
                          <span class="username">
                          {{comment.user.username}}
                          <span class="text-muted pull-right">{{comment.createdTime | amTimeAgo}}</span>
                          </span>
                  {{comment.content}}
                  <span *ngIf="canDeleteComment(comment.user._id)"
                        class="fa fa-close pull-right" (click)="deleteComment(project._id, comment._id, pro)"></span>
                </div>
              </div>
            </div>
            <div class="box-footer" style="display: block;" *ngIf="isLoggedIn()">
              <form [formGroup]="formComment" (ngSubmit)="onSubmit(project._id,formComment.value)">
                <img class="img-responsive img-circle img-sm" src="{{avatar}}"
                     alt="Alt Text">
                <div class="img-push">
                  <input type="text" class="form-control input-sm"
                         placeholder="Press enter to post comment" [formControl]="comment">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-block btn-info" (click)="loadMore(5)">Load more projects</button>
    </div><!-- end left posts-->
  </div>
</div><!-- end  center posts -->
