<div class="widget-header">
  <h3 class="widget-caption">Info</h3>
</div>
<div class="widget-body bordered-top bordered-sky">
  <ul class="list-unstyled profile-about margin-none">
    <li class="padding-v-5">
      <div class="row">
        <div class="col-sm-4"><span class="text-muted">Username</span></div>
        <div class="col-sm-8">{{user.username}}</div>
      </div>
    </li>
    <li class="padding-v-5">
      <div class="row">
        <div class="col-sm-4"><span class="text-muted">Job</span></div>
        <div class="col-sm-8">{{user.job}}</div>
      </div>
    </li>
    <li class="padding-v-5">
      <div class="row">
        <div class="col-sm-4"><span class="text-muted">Gender</span></div>
        <div class="col-sm-8">{{user.gender}}</div>
      </div>
    </li>
    <li class="padding-v-5">
      <div class="row">
        <div class="col-sm-4"><span class="text-muted">E-mail</span></div>
        <div class="col-sm-8">{{user.email}}</div>
      </div>
    </li>
    <li class="padding-v-5">
      <div class="row">
        <div class="col-sm-4"><span class="text-muted">Phone</span></div>
        <div class="col-sm-8">{{user.mobileNumber}}</div>
      </div>
    </li>
  </ul>
</div>
