<!-- PROFILE TAB CONTENT -->
<div class="tab-pane profile active" id="profile-tab">
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="col-md-3">
        <div class="user-info-left">
          <img src="{{host}}{{user.avatar}}" alt="Profile Avatar" width="100px">
          <h2>{{user.firstName}} {{user.lastName}}</h2>

          <div class="contact">
            <p>
            <span class="file-input btn btn-azure btn-file">
              Change Avatar <input type="file" id="avatar" accept=".jpg, .png, .jpeg, .gif" (change)="onAvatarSelect($event)">
            </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="user-info-right">
          <change-password></change-password>
          <div class="basic-info">
            <h3><i class="fa fa-square"></i> Basic Information</h3>
            <p class="data-row">
              <span class="data-name">Username</span>
              <input class="data-value input-sm" [ngModel]="user.username" [formControl]="username">
            </p>
            <p class="data-row">
              <span class="data-name">First name</span>
              <input class="data-value input-sm" [ngModel]="user.firstName" [formControl]="firstName">
            </p>
            <p class="data-row">
              <span class="data-name">Last name</span>
              <input class="data-value input-sm" [ngModel]="user.lastName" [formControl]="lastName">
            </p>
            <p class="data-row">
              <span class="data-name">Gender</span>
              <select class="data-value input-sm" [(ngModel)]="user.gender" [formControl]="gender">
                <option value="male" selected="selected">Male</option>
                <option value="female">Female</option>
              </select>
            </p>
          </div>
          <div class="contact_info">
            <h3><i class="fa fa-square"></i> Contact Information</h3>
            <p class="data-row">
              <span class="data-name">Email</span>
              <input class="data-value input-sm" [ngModel]="user.email" [formControl]="email">
            </p>
            <p class="data-row">
              <span class="data-name">Phone</span>
              <input class="data-value input-sm" [ngModel]="user.mobileNumber" [formControl]="mobileNumber">
            </p>
            <p class="data-row">
              <span class="data-name">Job</span>
              <input class="data-value input-sm" [ngModel]="user.job" [formControl]="job">
            </p>
          </div>
          <div class="about">
            <h3><i class="fa fa-square"></i> About Me</h3>
            <textarea rows="6" cols="38" [formControl]="aboutMe" [ngModel]="user.aboutMe"></textarea>
          </div>
          <p class="text-left"><button type="submit" class="btn btn-custom-primary btn-azure" [disabled]="!form.valid"><i class="fa fa-floppy-o"></i> Save
            Changes</button></p>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- END PROFILE TAB CONTENT -->
