<div class="row">
  <div class="col-md-12">
    <div class="cover profile">
      <div class="wrapper">
          <img src="img/Cover/profile-cover.jpg" alt="cover" style="filter: brightness(0.5);width:100%;">
      </div>
      <div class="cover-info">
        <div class="avatar">
          <img src="{{host}}{{user.avatar}}" alt="user photo">
        </div>
        <div class="name"><a>{{user.firstName}} {{user.lastName}}</a></div>
      </div>
    </div>
  </div>
</div>
