<div class="container page-content edit-profile">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="tab-content profile-page">
        <!-- PROFILE TAB CONTENT -->
          <profile-information></profile-information>
      </div>
    </div>
  </div>
</div>
