<div class="profile-info col-md-8">
  <!--   posts -->
  <div class="box box-widget" #single>
    <div class="box-header with-border">
      <div class="user-block">
        <img class="img-circle" src="{{host}}{{user.avatar}}" alt="User Image">
        <span class="pull-right" *ngIf="isOwner(user._id)">
                  <a [routerLink]="['/editProject', project._id]"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 20px;"></i></a>
                  <i class="fa fa-times" aria-hidden="true"
                     style="color:#ff3333;font-size: 23px;margin-right: 5px;"
                     (click)="deleteProject(project._id, single)"></i>
        </span>
        <span class="username"><a href="#">{{project.title}}</a></span>
        <span class="description">Created by <a [routerLink]="['/profile', user._id]">{{user.username}}</a>,
          {{project.createdTime | amTimeAgo}}</span>
        <span class="description" *ngIf="project.link">
          Project URL: <a href="{{project.link}}" target="_blank">{{project.link}}</a>
        </span>
      </div>
    </div>

    <div class="box-body" style="display: block;">
      <img class="img-responsive pad" src="{{host}}{{project.imageUrl}}" alt="Photo" width="1000px">
      <hr />
      <h4 style="color: #696969" [innerHTML]="project.content"></h4>
    </div>
    <div class="box-footer box-comments" style="display: block;">
      <div class="box-comment" *ngFor="let comment of project.comments" #pro>
        <img class="img-circle img-sm" src="{{host}}{{comment.user.avatar}}" alt="User Image">
        <div class="comment-text">
                      <span class="username">
                      {{comment.user.username}}
                      <span class="text-muted pull-right">{{comment.createdTime | amTimeAgo}}</span>
                      </span>
          {{comment.content}}
          <span *ngIf="canDeleteComment(comment.user._id)"
                class="fa fa-close pull-right" (click)="deleteComment(project._id, comment._id, pro)"></span>
        </div>
      </div>
    </div>
    <div class="box-footer" style="display: block;" *ngIf="isLoggedIn()">
      <form [formGroup]="formComment" (ngSubmit)="onSubmit(project._id,formComment.value)">
        <img class="img-responsive img-circle img-sm" src="{{host}}{{userAvatar}}" alt="Alt Text">
        <div class="img-push">
          <input type="text" class="form-control input-sm" placeholder="Press enter to post comment" [formControl]="comment">
        </div>
      </form>
    </div>
  </div><!--  end posts -->
</div>
